*{margin: 0px;
padding: 0px;}

.heroimage {
      animation: jamali 4s infinite ease-in-out;
    }

    @keyframes jamali {
      50% {
        transform: translateY(10px);
      }
    }

    .hight {
      height: 500px;
    }

    li {
      margin-left: 10px;
    }

    .line {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
    }

    .line::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background-color: brown;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .jamali{
      height: 250px;
      width: 100%;
      background-color: rgb(209, 168, 168);
    }
    /* nav{
        background-color: #404041;
    } */